In [3]:
import pandas as pd

In [7]:
df = pd.read_csv(r"C:\Users\Latitude\Desktop\Data_Analytics\Python\homework5\applications(2.0).csv")
df_additional = pd.read_csv(r"C:\Users\Latitude\Desktop\Data_Analytics\Python\homework5\industries(2.0).csv")

In [11]:
df.head(5)

,Applied at,Amount,Age,Gender,Industry,Marital status,External Rating,Education level,Location,applicant_id
0,11.30.2022 10:26:37,12000.0,29,Чоловік,Blockchain,Other,8.0,"Вища (бакалавр, спеціаліст, магістр)",Івано-Франківськ чи область,99e7b0dc6cc05dd334d8f38dc26ce9b3
1,11.30.2022 10:26:39,NaN,36,Чоловік,Public services / Government,Single,3.0,"Вища (бакалавр, спеціаліст, магістр)",NaN,63dfcf8e6904186650d6814279fbe42f
2,11.30.2022 10:26:58,7500.0,34,Чоловік,Adtech / Advertising,Single,4.0,"Вища (бакалавр, спеціаліст, магістр)",Київ чи область,10dbafaeb46c09e96b6987c03bbb3498
3,11.30.2022 10:27:31,1500.0,23,Жінка,Telecom,Single,0.0,"Вища (бакалавр, спеціаліст, магістр)",Львів чи область,5847ac62cc9eac5e323c2517dcc91ad1
4,11.30.2022 10:27:34,8400.0,33,Жінка,Automotive,Single,6.0,"Вища (бакалавр, спеціаліст, магістр)",Житомир чи область,5d21f3795b50de8e8f8f8d5f48b754f3

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13315 entries, 0 to 13314
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Applied at       13315 non-null  object
 1   Amount           13272 non-null  float64
 2   Age              13315 non-null  int64
 3   Gender           13315 non-null  object
 4   Industry         13315 non-null  object
 5   Marital status   13315 non-null  object
 6   External Rating  13243 non-null  float64
 7   Education level  13282 non-null  object
 8   Location         11540 non-null  object
 9   applicant_id     13315 non-null  object
dtypes: float64(2), int64(1), object(7)
memory usage: 1.0+ MB

In [23]:
df.shape

(13315, 10)

In [25]:
df.columns

Index(['Applied at', 'Amount', 'Age', 'Gender', 'Industry', 'Marital status',
       'External Rating', 'Education level', 'Location', 'applicant_id'],
      dtype='object')

In [27]:
df.dtypes

Applied at          object
Amount             float64
Age                  int64
Gender              object
Industry            object
Marital status      object
External Rating    float64
Education level     object
Location            object
applicant_id        object
dtype: object

In [43]:
df.index

RangeIndex(start=0, stop=13315, step=1)

In [31]:
no_duplicate = df.drop_duplicates(subset = 'applicant_id').copy()
no_duplicate['External Rating'] = no_duplicate['External Rating'].fillna(value = 0)
no_duplicate['Education level'] = no_duplicate['Education level'].replace(to_replace = " ", value = 'Середня').fillna(value = 'Середня')
display(no_duplicate)

,Applied at,Amount,Age,Gender,Industry,Marital status,External Rating,Education level,Location,applicant_id
0,11.30.2022 10:26:37,12000.0,29,Чоловік,Blockchain,Other,8.0,"Вища (бакалавр, спеціаліст, магістр)",Івано-Франківськ чи область,99e7b0dc6cc05dd334d8f38dc26ce9b3
1,11.30.2022 10:26:39,NaN,36,Чоловік,Public services / Government,Single,3.0,"Вища (бакалавр, спеціаліст, магістр)",NaN,63dfcf8e6904186650d6814279fbe42f
2,11.30.2022 10:26:58,7500.0,34,Чоловік,Adtech / Advertising,Single,4.0,"Вища (бакалавр, спеціаліст, магістр)",Київ чи область,10dbafaeb46c09e96b6987c03bbb3498
3,11.30.2022 10:27:31,1500.0,23,Жінка,Telecom,Single,0.0,"Вища (бакалавр, спеціаліст, магістр)",Львів чи область,5847ac62cc9eac5e323c2517dcc91ad1
4,11.30.2022 10:27:34,8400.0,33,Жінка,Automotive,Single,6.0,"Вища (бакалавр, спеціаліст, магістр)",Житомир чи область,5d21f3795b50de8e8f8f8d5f48b754f3
...,...,...,...,...,...,...,...,...,...,...
13310,01.09.2023 11:01,12000.0,25,Чоловік,Medtech / Healthcare,Single,6.0,"Вища (бакалавр, спеціаліст, магістр)",Харків чи область,01908b949a6a1eb44d1ee013ec377f9d
13311,01.09.2023 11:14,10500.0,28,Чоловік,Blockchain,Married,5.0,"Вища (бакалавр, спеціаліст, магістр)",NaN,6599ba629cfcfe8ac42c7d31c13f62de
13312,01.09.2023 11:19,5790.0,25,Чоловік,Blockchain,Married,3.0,"Вища (бакалавр, спеціаліст, магістр)",Дніпро чи область,e57f181bec5b11870a541c43d9b960f7
13313,01.09.2023 11:28,13500.0,31,Чоловік,Mobile,Single,8.0,Середня,Одеса чи область,a340c62a1226509949ef60df10a7d726
13314,01.09.2023 11:38,12600.0,32,Чоловік,High Load Systems,Married,11.0,"Вища (бакалавр, спеціаліст, магістр)",NaN,a36a922c50b554cad6cd0eb98a5eaad8

In [37]:
merged = pd.merge(left = df, right = df_additional, on = 'Industry', how = 'outer')
display(merged)

,Applied at,Amount,Age,Gender,Industry,Marital status,External Rating,Education level,Location,applicant_id,Score
0,11.30.2022 11:35:49,6000.0,28,Чоловік,AR/VR,Single,2.0,"Вища (бакалавр, спеціаліст, магістр)",Житомир чи область,8bb2d720325fce2439d319ea2f02e0f8,10
1,11.30.2022 12:02:14,8610.0,30,Чоловік,AR/VR,Single,4.0,Середня,Київ чи область,7ed7ba773de8e7786562f6006b9d7b89,10
2,11.30.2022 12:05:11,6000.0,24,Жінка,AR/VR,Married,3.0,"Вища (бакалавр, спеціаліст, магістр)",Вінниця чи область,c47fe017563ac9ae7e8f9a159cf3b750,10
3,11.30.2022 12:17:50,2340.0,19,Чоловік,AR/VR,Married,1.0,Ще студент вишу,Одеса чи область,fdd12de678c01e70cb7efe04c85778d5,10
4,11.30.2022 12:26:00,12000.0,38,Чоловік,AR/VR,Married,15.0,"Вища (бакалавр, спеціаліст, магістр)",Львів чи область,d3a403b5c741cdac845035307c1a5359,10
...,...,...,...,...,...,...,...,...,...,...,...
13310,01.07.2023 17:01,2850.0,39,Чоловік,Інша,Single,2.0,"Вища (бакалавр, спеціаліст, магістр)",Полтава чи область,2bef9ad7531981982e2687955234ec28,10
13311,01.07.2023 18:57,750.0,47,Жінка,Інша,Single,3.0,"Вища (бакалавр, спеціаліст, магістр)",Київ чи область,c83c8831405adef1264ed6c8a0a5355d,10
13312,01.08.2023 01:02,12750.0,30,Жінка,Інша,Single,5.0,"Вища (бакалавр, спеціаліст, магістр)",Київ чи область,9277126a8253fc8a42771ff44b7d904f,10
13313,01.08.2023 15:15,8400.0,32,Чоловік,Інша,Married,4.0,Дві вищі,NaN,d3c08c6d7dd1c1026a391ef1ea3ea5ad,10
13314,01.09.2023 10:14,3000.0,28,Чоловік,Інша,Single,5.0,Середня,Київ чи область,d8934c4bd85253bb2a21405c491d720b,10

In [46]:
merged['Raiting'] = 0
def calculated_raiting (row) :
    raiting = 0
    if pd.isna(row['Amount']) or row['External Rating'] == 0:
        return 0
    if (row['Age'] >= 35) & (row['Age'] <= 55):
        raiting += 20
    if not pd.isna(row['Applied at']):    
        raiting_date =  pd.to_datetime(row['Applied at']) 
        if raiting_date.weekday() <= 4:
            raiting += 20
    if row['Marital status'] == 'Married':
        raiting += 20
    if row['Location'] == 'Київ чи область':
        raiting += 10
    score_value = row['Score']
    if (score_value != 0) & (not pd.isna(score_value)):
        raiting += score_value
    if not pd.isna(row['External Rating']):   
        int_numb = int(row['External Rating'])
        if int_numb >= 7:
            raiting += 20
        elif int_numb <= 2:
            raiting -= 20           
    return min(raiting, 100)
merged['Raiting'] = merged.apply(calculated_raiting, axis = 1)
display(merged)

,Applied at,Amount,Age,Gender,Industry,Marital status,External Rating,Education level,Location,applicant_id,Score,Raiting
0,11.30.2022 11:35:49,6000.0,28,Чоловік,AR/VR,Single,2.0,"Вища (бакалавр, спеціаліст, магістр)",Житомир чи область,8bb2d720325fce2439d319ea2f02e0f8,10,10
1,11.30.2022 12:02:14,8610.0,30,Чоловік,AR/VR,Single,4.0,Середня,Київ чи область,7ed7ba773de8e7786562f6006b9d7b89,10,40
2,11.30.2022 12:05:11,6000.0,24,Жінка,AR/VR,Married,3.0,"Вища (бакалавр, спеціаліст, магістр)",Вінниця чи область,c47fe017563ac9ae7e8f9a159cf3b750,10,50
3,11.30.2022 12:17:50,2340.0,19,Чоловік,AR/VR,Married,1.0,Ще студент вишу,Одеса чи область,fdd12de678c01e70cb7efe04c85778d5,10,30
4,11.30.2022 12:26:00,12000.0,38,Чоловік,AR/VR,Married,15.0,"Вища (бакалавр, спеціаліст, магістр)",Львів чи область,d3a403b5c741cdac845035307c1a5359,10,90
...,...,...,...,...,...,...,...,...,...,...,...,...
13310,01.07.2023 17:01,2850.0,39,Чоловік,Інша,Single,2.0,"Вища (бакалавр, спеціаліст, магістр)",Полтава чи область,2bef9ad7531981982e2687955234ec28,10,10
13311,01.07.2023 18:57,750.0,47,Жінка,Інша,Single,3.0,"Вища (бакалавр, спеціаліст, магістр)",Київ чи область,c83c8831405adef1264ed6c8a0a5355d,10,40
13312,01.08.2023 01:02,12750.0,30,Жінка,Інша,Single,5.0,"Вища (бакалавр, спеціаліст, магістр)",Київ чи область,9277126a8253fc8a42771ff44b7d904f,10,20
13313,01.08.2023 15:15,8400.0,32,Чоловік,Інша,Married,4.0,Дві вищі,NaN,d3c08c6d7dd1c1026a391ef1ea3ea5ad,10,30
13314,01.09.2023 10:14,3000.0,28,Чоловік,Інша,Single,5.0,Середня,Київ чи область,d8934c4bd85253bb2a21405c491d720b,10,40

In [50]:
filtered = merged[merged['Raiting'] > 0].copy()
display(filtered)

,Applied at,Amount,Age,Gender,Industry,Marital status,External Rating,Education level,Location,applicant_id,Score,Raiting
0,11.30.2022 11:35:49,6000.0,28,Чоловік,AR/VR,Single,2.0,"Вища (бакалавр, спеціаліст, магістр)",Житомир чи область,8bb2d720325fce2439d319ea2f02e0f8,10,10
1,11.30.2022 12:02:14,8610.0,30,Чоловік,AR/VR,Single,4.0,Середня,Київ чи область,7ed7ba773de8e7786562f6006b9d7b89,10,40
2,11.30.2022 12:05:11,6000.0,24,Жінка,AR/VR,Married,3.0,"Вища (бакалавр, спеціаліст, магістр)",Вінниця чи область,c47fe017563ac9ae7e8f9a159cf3b750,10,50
3,11.30.2022 12:17:50,2340.0,19,Чоловік,AR/VR,Married,1.0,Ще студент вишу,Одеса чи область,fdd12de678c01e70cb7efe04c85778d5,10,30
4,11.30.2022 12:26:00,12000.0,38,Чоловік,AR/VR,Married,15.0,"Вища (бакалавр, спеціаліст, магістр)",Львів чи область,d3a403b5c741cdac845035307c1a5359,10,90
...,...,...,...,...,...,...,...,...,...,...,...,...
13310,01.07.2023 17:01,2850.0,39,Чоловік,Інша,Single,2.0,"Вища (бакалавр, спеціаліст, магістр)",Полтава чи область,2bef9ad7531981982e2687955234ec28,10,10
13311,01.07.2023 18:57,750.0,47,Жінка,Інша,Single,3.0,"Вища (бакалавр, спеціаліст, магістр)",Київ чи область,c83c8831405adef1264ed6c8a0a5355d,10,40
13312,01.08.2023 01:02,12750.0,30,Жінка,Інша,Single,5.0,"Вища (бакалавр, спеціаліст, магістр)",Київ чи область,9277126a8253fc8a42771ff44b7d904f,10,20
13313,01.08.2023 15:15,8400.0,32,Чоловік,Інша,Married,4.0,Дві вищі,NaN,d3c08c6d7dd1c1026a391ef1ea3ea5ad,10,30
13314,01.09.2023 10:14,3000.0,28,Чоловік,Інша,Single,5.0,Середня,Київ чи область,d8934c4bd85253bb2a21405c491d720b,10,40

In [110]:
transformation_date = pd.to_datetime(filtered['Applied at'], errors = 'coerce')
filtered.loc[:, 'Week'] = transformation_date.dt.isocalendar().week.fillna(0).astype(int)
#filtered.loc[:, 'Average raiting by week'] = filtered.groupby('Week')['Raiting'].transform('mean').round(2)
average_raiting_by_week = filtered.pivot_table(index='Week', values='Raiting', aggfunc='mean').round(2)
filtered.loc[:, 'Average raiting by week'] = filtered['Week'].map(average_raiting_by_week['Raiting'])
display(filtered)
display(average_raiting_by_week)

,Applied at,Amount,Age,Gender,Industry,Marital status,External Rating,Education level,Location,applicant_id,Score,Raiting,Week,Average raiting by week
0,11.30.2022 11:35:49,6000.0,28,Чоловік,AR/VR,Single,2.0,"Вища (бакалавр, спеціаліст, магістр)",Житомир чи область,8bb2d720325fce2439d319ea2f02e0f8,10,10,48,53.41
1,11.30.2022 12:02:14,8610.0,30,Чоловік,AR/VR,Single,4.0,Середня,Київ чи область,7ed7ba773de8e7786562f6006b9d7b89,10,40,48,53.41
2,11.30.2022 12:05:11,6000.0,24,Жінка,AR/VR,Married,3.0,"Вища (бакалавр, спеціаліст, магістр)",Вінниця чи область,c47fe017563ac9ae7e8f9a159cf3b750,10,50,48,53.41
3,11.30.2022 12:17:50,2340.0,19,Чоловік,AR/VR,Married,1.0,Ще студент вишу,Одеса чи область,fdd12de678c01e70cb7efe04c85778d5,10,30,48,53.41
4,11.30.2022 12:26:00,12000.0,38,Чоловік,AR/VR,Married,15.0,"Вища (бакалавр, спеціаліст, магістр)",Львів чи область,d3a403b5c741cdac845035307c1a5359,10,90,48,53.41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13310,01.07.2023 17:01,2850.0,39,Чоловік,Інша,Single,2.0,"Вища (бакалавр, спеціаліст, магістр)",Полтава чи область,2bef9ad7531981982e2687955234ec28,10,10,0,49.37
13311,01.07.2023 18:57,750.0,47,Жінка,Інша,Single,3.0,"Вища (бакалавр, спеціаліст, магістр)",Київ чи область,c83c8831405adef1264ed6c8a0a5355d,10,40,0,49.37
13312,01.08.2023 01:02,12750.0,30,Жінка,Інша,Single,5.0,"Вища (бакалавр, спеціаліст, магістр)",Київ чи область,9277126a8253fc8a42771ff44b7d904f,10,20,0,49.37
13313,01.08.2023 15:15,8400.0,32,Чоловік,Інша,Married,4.0,Дві вищі,NaN,d3c08c6d7dd1c1026a391ef1ea3ea5ad,10,30,0,49.37
13314,01.09.2023 10:14,3000.0,28,Чоловік,Інша,Single,5.0,Середня,Київ чи область,d8934c4bd85253bb2a21405c491d720b,10,40,0,49.37

      Raiting
Week
0       49.37
48      53.41
50      48.08
51      46.92
52      51.03