In [1]:
message = "Never argue with stupid people, they will drag you down to their level and then beat you with experience."
search = "r"
result = 0
for search in message :
    result = message.count(search)
print(result)

1

In [3]:
num = int(input("Enter integer (0 for output): "))
sum = 0
while num != 0:
    for i in range(0, num + 1, 1):
        sum += i
    num = int(input("Enter integer (0 for output): "))  
sum

Enter integer (0 for output):  5
Enter integer (0 for output):  4
Enter integer (0 for output):  0

25

In [9]:
def greeting ():
    print('Hello world!')
greeting ()
#print(greeting())

Hello world!

In [11]:
def invite_to_event(username):
    return f"Dear {username}, we have the honour to invite you to our event"
message = invite_to_event('Roman')
print(message)

Dear Roman, we have the honour to invite you to our event

In [13]:
base_rate = 40
price_per_km = 10
total_trip = 0

def calculate_trip_price(distance_km):
    global total_trip
    total_trip += 1
    return base_rate + (price_per_km * distance_km)

print(calculate_trip_price(10))
print(total_trip)

140
1

In [25]:
def get_fullname (first_name, last_name, middle_name = None):
        if middle_name:
            return f'{first_name} {middle_name} {last_name}'
        else:
            return f'{first_name} {last_name}'
print(get_fullname('Roman', 'Vitovych'))

Roman Vitovych

In [35]:
def amount_payment(payment):
    total_payments = 0
    for i in payment:
        if i >= 0:
            total_payments += i
    return total_payments
amount_payment([10,5,8,12,4])

39

In [41]:
def prepare_data(data):
    sorted_data = sorted(data)
    sorted_data.pop()
    sorted_data.pop(0)
    return sorted_data
prepare_data([10,5,8,12,4])

[5, 8, 10]

In [45]:
def lookup_key(data, value):
    list = []
    for key, i in data.items():
        if i == value:
            list.append(key)
    return list
lookup_key({'key1': 1, 'key2': 2, 'key3': 3, 'key4': 2}, 2)

['key2', 'key4']

In [47]:
def split_list(grade):
    total_sum = 0
    high_score_list = []
    low_score_list = []
    grade_length = len(grade)
    for i in grade:
        total_sum += i
    if grade_length == 0:
        return [], []   
    average_score = total_sum/grade_length
    for i in grade:
        if i <= average_score:
            high_score_list.append(i)
        else:    
            low_score_list.append(i)        
    return high_score_list, low_score_list 
split_list([1, 12, 3, 24, 5])

([1, 3, 5], [12, 24])